[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
dj-database-url = "*"
python-dotenv = "*"
django-heroku = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
